.reset__password__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  background: var(--secondary-color);
  padding: 0 2rem;
}

.card__wrapper {
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  background: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  padding: 2.5rem 2rem;

  width: 600px;
  margin: 0 auto;
}

@media (max-width: 468px) {
  .card__wrapper {
    padding: 2rem 1.5rem;
  }
}
