.button {
  border-radius: 0.625rem;
  background-color: currentColor;
  border: 1px solid currentColor;

  width: max-content;
  height: 40px;
  padding: 1rem 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 600;

  transition: all 0.3s ease;
}

.cancel {
  background-color: var(--error);
  border-color: var(--error);
  color: var(--color-white);
}
.cancel:hover {
}

.default {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

.default:hover {
  background-color: var(--secondary-color);
}

.default:disabled {
  opacity: 0.5;
}

.ghost {
  background-color: var(--color-white);
  border-color: var(--tertiary-color);
  color: var(--primary-color);
}

.ghost:hover {
  background-color: var(--tertiary-color);
  border-color: var(--color-white);
}

.outline {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.outline:hover {
  border-color: var(--color-gray-20);
}
