.header__wrapper {
  height: 70px;
  width: 100%;
  background-color: var(--primary-color-dark-80);
  display: flex;
  align-items: center;

  padding: 0 3rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.nav a {
  font-weight: 500;
  transition: color 0.3s ease;
  color: var(--color-neutral);
}

.nav a:hover {
  color: var(--color-neutral-80);
}

.nav a.active {
  color: var(--color-white);
}

@media (max-width: 568px) {
  .header__wrapper {
    padding: 0 2rem;
    justify-content: space-between;
  }

  .nav {
    margin: unset;
    margin-left: auto;
  }
}
