.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1rem;
}

.btn__close {
  width: 60px;
}

.btn__close svg {
  flex-shrink: 0;
}

.btn__submit {
  margin-top: 2rem;
  max-width: 200px;
  width: 100%;
}
