.input__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-neutral);
}

.input__field {
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--color-white);

  height: 40px;

  padding: 0.75rem 1rem;

  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-neutral);
  outline: none;

  transition: border-color 0.2s ease;
}

.input__field::placeholder {
  color: var(--color-neutral);
  opacity: 0.7;
}

.input__field:focus-visible {
  border-color: var(--primary-color);
}

.error {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--error);
}
