.input__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-color);
}

.input__wrapper {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  border-radius: 0.5rem;
  border: 1px solid var(--tertiary-color);
  background-color: var(--color-white);

  transition: all 0.2s ease-in-out;
}

.input__wrapper:focus-within {
  border-color: var(--primary-color);
}

.input__field {
  flex: 1;
  padding: 0.75rem 1rem;
  outline: none;

  border: none;
  background: transparent;
  border-radius: 0.5rem;

  font-size: 0.875rem;
  font-weight: 400;
  color: var(--primary-color);

  transition: border-color 0.2s ease;
}

.input__field::placeholder {
  color: var(--primary-color);
  opacity: 0.7;
}

.input__field:focus-visible {
  border-color: var(--primary-color);
}

.icon {
  cursor: pointer;

  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 1rem;
  margin-top: 0.1875rem;
}

.error__text {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--error);
}
