* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e48f4f;
  --primary-color-80: #f0ac78;
  --primary-color-20: #ffcba4;

  --primary-color-dark-80: #c37439;
  --primary-color-dark: #8e4c1b;

  --secondary-color: #e9e9e9;

  --color-white: #ffffff;

  --color-neutral: #302d28;
  --color-neutral-80: #4d4b48;

  --color-neutral-dark: #15130f;

  --link-color: #2563eb;

  --error: #f44336;
  --error-80: #ff6659;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-neutral);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
