.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1rem;
}

.forgot__password__container {
  text-align: right;
  margin-bottom: 0.25rem;
}

.forgot__password {
  font-size: 0.75rem;
  color: var(--secondary-color);
}

.button__submit {
  width: 100%;
}

.register {
  text-align: center;
  margin-top: 0.75rem;
  font-size: 0.875rem;
}

.register span {
  color: var(--link-color);
  cursor: pointer;
}
