# Database
DATABASE_URL=

# Server
PORT=
APP_URL=
FRONTEND_URL=

# Mail
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Auth
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=